<form id="deploy-assets-form" action="/deploy-assets" method="post">
  <table>
    <tr>
      <th>Select Folders</th>
      <th>Select Spallas</th>
      <th>Deploy</th>
    </tr>
    <tr>
      <td>
        <% @folders.each do |folder | %>
          <input name="folders[]" type="checkbox" value="<%= folder %>" id="folder-<%= folder %>" />
          <label for="folder-<%= folder %>"><%= folder %></label><br />
        <% end %>
      </td>
      <td>
        <% @spallas.each do |spalla | %>
          <% id = "spalla-#{spalla.gsub(/\s/, "")}" %>
          <input name="spallas[]" type="checkbox" value="<%= spalla %>" id="<%= id %>" />
          <label for="<%= id %>"><%= spalla %></label><br />
        <% end %>
      </td>
      <td>
        <input type="image" alt="Fire!" title="Fire!" src="/images/cannon.png" />
      </td>
    </tr>
  </table>
</form>
