<!-- Copyright (c) 2014, IDEO -->

<script src="/javascripts/noam-refresh.js" />

  <table cellpadding=0 cellspacing=0>
  	<div id="header_container">
    <p id="port">port: <%=@broadcast_port%></p>
    <p id="update">updated <abbr class="timeago" title="<%= Time.now %>"></abbr> </p>
    <br class="clear" />
    </div>
    <tr>
    <th>Spalla Id</th>
    <th>Last Value</th>
    <th>Timestamp</th>
    <% @orchestra.players.each do |spalla_id, player| %>
      <td <%= "class=\"active\"" if @last_active_id == spalla_id %> ><strong><%= spalla_id %></strong></td>
    <% end %>
  </tr>

  <tr>
    <th>Device</th>
    <td/>
    <td/>
    <% @orchestra.players.each do |spalla_id, player| %>
      <td><%= player.device_type %></td>
    <% end %>
  </tr>

  <tr>
    <th>Last Activity</th>
    <td/>
    <td/>
    <% @orchestra.players.each do |spalla_id, player| %>
      <td><%= format_date( player.last_activity ) %></td>
    <% end %>
  </tr>

  <tr>
    <th>System Version</th>
    <td/>
    <td/>
    <% @orchestra.players.each do |spalla_id, player| %>
      <td><%= player.system_version %></td>
    <% end %>
  </tr>

  <% @orchestra.event_names.each do |event| %>
    <tr class="event">
      <th> <div> <%= event %> </div> </th>
        <td class="event_value last-value<%= " active" if @last_active_event == event %>" data-event-name="<%=event%>" data-event-value="<%=value_escaped(@values.get(event).to_s) %>">
          <%= value_display(@values.get(event)) %>
          <span style="display:none" id="<%=event%>_value">
            <%= value_escaped(@values.get(event)) %>
          </span>
        </td>

        <td>
          <%= format_date( @values.timestamp(event) ) %>
        </td>

      <% @orchestra.players.each do |spalla_id, player| %>
        <td>
          <% if player.hears?(event) %>
            <img src="/images/hear.png" class="icon"/>
          <% end %>
          <% if player.plays?(event) %>
            <img src="/images/play.png" class="icon"/>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>

</table>

